<h1>New Game</h1>
<p> What is the longest word you can find? </p>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="achoo! excuse me..">
  <input type="submit">
</form>
